---

---

<section
  class="flex flex-col md:flex-row items-center justify-center px-6 md:px-24 gap-6 md:gap-28"
>
  <div class="flex flex-col justify-center gap-[10rem] h-fit w-fit">
    <h2 class="text-[8rem] md:text-[11rem]">/ABOUT</h2>
    <p class="hidden md:flex md:max-w-lg">
      In summary, my journey from Mathematical Olympiads to programming has been
      one of discovery and growth. I'm excited to keep learning, innovating, and
      collaborating with fellow tech enthusiasts. Ready to embrace new
      challenges and opportunities, I'm grateful for your visit to my portfolio.
    </p>
  </div>
  <p class="">
    Hello! I'm Juan Pablo Lopez, a 22-year-old from Argentina. My passion for
    problem-solving and logical thinking stems from my parents, who are
    mathematics professors. I delved into the world of Mathematical Olympiads
    from an early age, sparking my curiosity and driving me to explore.<br />
     While pursuing Civil Engineering, I stumbled upon programming and was
    instantly captivated. I transitioned my focus, completing the Full Stack
    Developer bootcamp at soyHenry and joining the Henry Heroes team as a
    mentor. <br />
     Since then, I've continued to learn independently, working on personal and
    group projects. This experience equipped me to apply my software development
    skills in real-world projects.<br /> Outside of work, I'm an avid soccer
    enthusiast. The sport has instilled values of teamwork, discipline, and
    perseverance in me, which I apply to both my personal and professional life.
  </p>
</section>

<style>
  section {
    background-color: #1c1c37;
    height: 100vh;
    color: #f1eeeb;
  }
  p {
    font-family: "DM Sans", sans-serif;
    font-size: 0.9rem;
    text-align: center;
  }
</style>
