---

---

<section
  id="experience"
  class="flex flex-col px-6 gap-4 items-start justify-center md:px-24 md:gap-10"
>
  <h2 class="text-[4.5rem] md:text-[10rem]">/EXPERIENCE</h2>
  <article class="flex flex-col gap-3">
    <div class="flex gap-1 md:gap-4 px-4 md:px-28 flex-col md:flex-row">
      <div class="flex flex-col items-center">
        <h3>/Gen Consultores:</h3>
        <p>02/2023 - Now</p>
      </div>
      <p class="w-full md:w-3/4 text-justify">
        I led projects creating personal finance and raffle apps using React,
        Next, Tailwind, and MongoDB. The finance app tracked expenses securely,
        and the raffle app ensured fair winner selection. Effective leadership,
        planning, design, development, testing, and maintenance ensured
        high-quality outcomes in both projects.
      </p>
    </div>
    <div class="flex gap-1 md:gap-4 px-4 md:px-28 flex-col md:flex-row">
      <div class="flex flex-col items-center">
        <h3>/Eat Fix - freelance:</h3>
        <p>06/2023 - Now</p>
      </div>
      <p class="w-full md:w-3/4 text-justify">
        I built an AI-driven diet app with Next.js, TypeScript, React, Prism,
        and PostgreSQL. The AI personalizes diet plans for users' health and
        fitness goals. It features a user-friendly interface, strong security,
        and ongoing maintenance for relevance.
      </p>
    </div>
    <div class="flex gap-1 md:gap-4 px-4 md:px-28 flex-col md:flex-row">
      <div class="flex flex-col items-center">
        <h3>/Sirunn Patisserie:</h3>
        <p>11/2022 - 12/2022</p>
      </div>
      <p class="w-full md:w-3/4 text-justify">
        I led the backend development for a team e-commerce project using SCRUM.
        We used Next.js, React, TypeScript, Prisma, PostgreSQL, and Tailwind CSS
        to build a flexible and secure platform, delivering a seamless shopping
        experience.
      </p>
    </div>
  </article>
</section>

<style>
  section {
    background-color: #cdc6bb;
    height: 100vh;
    color: #1c1c37;
  }
  p {
    font-family: "DM Sans", sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
  }
  h3 {
    font-size: 1.5rem;
  }
</style>
