---
import NavBar from "../components/NavBar.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Full stack developer and designer" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&family=DM+Sans:opsz,wght@9..40,200&display=swap"
      rel="stylesheet"
    />
    <title>Juan Lopez</title>
  </head>
  <body>
    <header class="fixed w-screen flex justify-center pt-8 z-30">
      <NavBar />
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
<style is:global>
  :root {
    --fontSans: "DM Sans";
    --color1: rgba(28, 28, 55, 0.7);
  }
  html {
    font-family: "Anton", "DM Sans", sans-serif;
    background: #13151a;
    background-size: 224px;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
</style>
